<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col
      size-sm="8" size-mode="4"
      size-lg="3" size-xl="3">

         <img
    class="icon"
    src="assets/icon/padlock.png"
  >
  <form
    [formGroup]="authForm"
    (ngSubmit)="onSubmit(authProviders.Email)"
  >  
    <ng-container *ngIf="!configs.isSignIn">
     <ion-item>
        <ion-label position="floating">
        <ion-icon
          name="person"
          slot="start"
        ></ion-icon>
        Nome
      </ion-label>
      <ion-input
        type="text"
        name="Name"
        formControlName="name"
        autofocus="true"
      ></ion-input>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="name.dirty && name.hasError('required')"
      >
        Obrigatório
      </ion-note>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="name.dirty && name.hasError('minlength')"
      >
        Mín. 3 caracteres
      </ion-note>
     </ion-item>
    </ng-container>
    

    <ion-item>
      <ion-label position="floating">
        <ion-icon
          name="mail"
          slot="start"
        >
        </ion-icon>
        Emails
      </ion-label>
      <ion-input
        type="email"
        name="Email"
        formControlName="email"
        autofocus="true"
        inputmode="email"
      >
      </ion-input>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="email.dirty && email.hasError('required')"
      >
        Obrigatório
      </ion-note>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="email.dirty && email.hasError('email')"
      >
        Email Inválido
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon
          name="lock"
          slot="start"
        ></ion-icon>
        Senha
      </ion-label>
      <ion-input
        type="password"
        name="password"
        formControlName="password"
        autofocus="true"
      ></ion-input>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="password.dirty && password.hasError('required')"
      >
        Obrigatório
      </ion-note>
      <ion-note
        slot="end"
        color="danger"
        *ngIf="password.dirty && password.hasError('minlength')"
      >
        Mín. 6 caracteres
      </ion-note>
    </ion-item>
    <br>
    <ion-button
      expand="block"
      type="submit()"
      [disabled]="authForm.invalid"
    >
      {{configs.action}}
    </ion-button>
  </form>

  <ion-button
    color="danger"
    expand="block"
    (click)="changeAuthAction()"
  >
    {{configs.actionChange}}
  </ion-button>
  <ion-button expand="block" (click)="onSubmit(authProviders.Facebook)">
    <ion-icon
      name="logo-facebook"
      slot="start"
    ></ion-icon>
    Entrar com Facebook
  </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
