<ion-header>
  <ion-toolbar color="primary">
    <app-menu-toggle slot="start" menu="main-menu"></app-menu-toggle>

    <ion-title>Catálogos</ion-title>
    <app-logout-button slot="end" menu="main-menu"></app-logout-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col col-6>
        <ion-card routerLink="/cats/aves" routerLinkDirection="foward"  class="ion-text-center" padding>
          <img class="icon_card" src="assets/icon/aves.png" slot="start">
          <h2>Aves</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
         <ion-card routerLink="/cats/boi" routerLinkDirection="foward"  class="ion-text-center" padding>
          <img class="icon_card" src="assets/icon/boi.png">
          <h2>Bovinos</h2>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
         <ion-card routerLink="/cats/cavalo" routerLinkDirection="foward"  class="ion-text-center" padding>
          <img class="icon_card" src="assets/icon/horse.png">
          <h2>Equinos</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
         <ion-card routerLink="/cats/porco" routerLinkDirection="foward" class="ion-text-center" padding>
          <img class="icon_card" src="assets/icon/pig.png">
          <h2>Suínos</h2>
        </ion-card>

        
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
