<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cats"></ion-back-button>
    </ion-buttons>
    <ion-title>Suínos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col
          size-sm="8" size-mode="4"
          size-lg="3" size-xl="3">
        <ion-card>
          <img src="assets/icon/porcoscampo.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Doméstivo e Abate</ion-card-subtitle>
            <ion-card-title>Landacre, Large White</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Tanto quem cria porcos para o abate quanto como animais de estimação precisa saber como 
            abrigá-los e cuidar deles. O porco é um animal valioso por sua carne e seu esterco. 
            A crescente popularização dos alimentos orgânicos gerou uma leva de consumidores
            preocupados com a procedência da carne.
          </ion-card-content>
        </ion-card>
        
          <ion-item detail>
  <ion-label>
    Alimentação
  </ion-label>
</ion-item>

<ion-item detail>
  <ion-label>
     Vacinas Obrigatórias
  </ion-label>
</ion-item>

<ion-item detail>
  <ion-label>
     Moradia
  </ion-label>
</ion-item>


<ion-item detail>
  <ion-label>
     Cuidados
  </ion-label>
</ion-item>



      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
