<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cats"></ion-back-button>
    </ion-buttons>
    <ion-title>Aves</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col
          size-sm="8" size-mode="4"
          size-lg="3" size-xl="3">
        <ion-card>
          <img src="assets/icon/avescampo.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Doméstico</ion-card-subtitle>
            <ion-card-title>Patos, Gansos, Marrecos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Devemos ter atenção às espécies de aves domésticas permitidas pelas legislação 
            brasileira, zelando pelo bem-estar do animal e garantindo que ele poderá viver tranquilo
            e saudável. 
          </ion-card-content>
        </ion-card>

        <ion-item detail>
  <ion-label>
    Alimentação
  </ion-label>
</ion-item>

<ion-item detail>
  <ion-label>
     Vacinas Obrigatórias
  </ion-label>
</ion-item>

<ion-item detail>
  <ion-label>
     Moradia
  </ion-label>
</ion-item>


<ion-item detail>
  <ion-label>
     Cuidados
  </ion-label>
</ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
