<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cats"></ion-back-button>
    </ion-buttons>
    <ion-title>Bovinos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col
          size-sm="8" size-mode="4"
          size-lg="3" size-xl="3">
        <ion-card>
          <img src="assets/icon/boiscampo.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Corte e Reprodução</ion-card-subtitle>
            <ion-card-title>Nelore, Guzerá, Taurus</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Cuidar de uma criação de gado pode ser um negócio bastante rentável, 
            principalmente nos períodos de alto consumo. 
            Este tipo de criação envolve muito esforço, 
            e tarefas das quais nenhum gerente responsável pode ignorar. 
            Tudo dependerá de como será o seu rancho (ou sítio de criação), 
            e da quantidade e raça de animais que você pretende criar.
          </ion-card-content>
        </ion-card>

        <ion-item detail>
  <ion-label>
    Alimentação
  </ion-label>
</ion-item>

<ion-item detail>
  <ion-label>
     Vacinas Obrigatórias
  </ion-label>
</ion-item>

<ion-item detail>
  <ion-label>
     Moradia
  </ion-label>
</ion-item>


<ion-item detail>
  <ion-label>
     Cuidados
  </ion-label>
</ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
