<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cats"></ion-back-button>
    </ion-buttons>
    <ion-title>Equinos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col
          size-sm="8" size-mode="4"
          size-lg="3" size-xl="3">
        <ion-card>
          <img src="assets/icon/cavaloscampo.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Doméstico</ion-card-subtitle>
            <ion-card-title>Quarto de Milha, MangaLarga</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Para ter cavalos fortes e saudáveis é necessário que sejam tomadas uma série de cuidados, 
            para que os seus animais tenham força e vigor, para usufruir de uma vida longa, 
            saudável e feliz.
          </ion-card-content>
        </ion-card>

        <ion-item detail>
  <ion-label>
    Alimentação
  </ion-label>
</ion-item>

<ion-item detail>
  <ion-label>
     Vacinas Obrigatórias
  </ion-label>
</ion-item>

<ion-item detail>
  <ion-label>
     Moradia
  </ion-label>
</ion-item>


<ion-item detail>
  <ion-label>
     Cuidados
  </ion-label>
</ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
